* {box-sizing: border-box;}
body{
    background-color: #ffffae;
}
form.searchbutton input[type=text] {
  padding: 5px;
  font-size: 12px;
  border: 1px solid grey;
  float: right;
  width: 20%;
  background: #ffffae;
}

form.searchbutton button {
  float: right;
  width: 20%;
  padding: 5px;
  background: #e9c03a;
  color: black;
  font-size: 12px;
  border: 1px solid #e9c03a;
  border-left: none;
  cursor: pointer;
  margin-left:auto;
  max-width:60px;
}

form.searchbutton button:hover {
  background: #d3a202;
  
}

form.searchbutton::after {
  content: "";
  clear: both;
  display: table;
}
hr{
    color: #717171;
    background-color:rgba(0, 0, 0,0.2);
    height: 2px;
    border-width: 0;
}
.topnav{
    background-color: #ffffae;
    overflow: hidden;
    display: flex;
}

.topnav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 0px 20px;
    margin-top: 3px;
    margin-left: 0%;
    text-decoration:none;
    font-size: 20px;
}


.topnav a:hover{
    background-color: #ffffae;
    color:#d3a202;
}

.topnav a.active {
    background-color: #ffffae;
    color: rgb(212, 157, 6);
  }


.logo a img{
    width: 150px;
    height: 85px;
    display: flex;
    animation: fade 5s;
}

.slideshow-container {
    max-width: 1400px;
    max-height: 1000px;
    position: relative;
    margin: auto;
}

.text1 {
    color: #ffffae;
    font-size: 40px;
    padding: 50px 15px;
    position: absolute;
    bottom: 450px;
    width: 100%;
    text-align: left;
    margin-left: 15%;
    text-shadow: 0px 1px 1px black;

}
.text {
    color: #ffffae;
    font-size: 80px;
    padding: 8px 12px;
    position: absolute;
    bottom: 300px;
    width: 100%;
    text-align: left;
    margin-left: 15%;
    text-shadow: 0px 1px 1px black;

}

.text-block {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0,0.5);
    color: #e9c03a;
    padding-left: 20px;
    padding-right: 20px;
  }

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
  }
  
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

h1{
    text-align: center;
    font-size: 45px;
    color: #030303b6;
}

.vl {
    border-left: 2px solid #d3a202;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: auto;
  }

h3{
    text-align: left;
    color: #030303b6;
    font-size: 23px;
    margin-top: 8%;
    margin-left: 5%;
    position:relative ;
}  

p{
    text-align: left;
    font-size: 18px;
    margin-left: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.button {
    border-radius: 4px;
    background-color:rgba(0, 0, 0,0.1);
    border: none;
    color: #000000d3;
    text-align: left;
    margin-left: 4.5%;
    font-size: 20px;
    padding: 8px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.middle a img{
    display: flex;
    width: 500px;
    margin-right:5%;
    float: right;
}

.v2 {
    border-left: 2px solid #d3a202;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: auto;
  }

h2{
    text-align: center;
    font-size: 30px;
    color: #030303b6;
}


.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  .row .column {
    flex: 33%;
    max-width: 30%;
    padding: 0 3px;
    margin: auto;
    position: relative;
 
  }
  
  .column img {
    margin-top: 8px;
    width: 100%;
    vertical-align: middle;
}
  
@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
@media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

.row .column .overlay{
    font-size: 20px;
    padding: 20px;
    text-align: center;
    color: rgb(24 , 22  ,22);
    transition: .5s ease;
    width: 99%;
    color: #f1f1f1;
    background: rgba(0, 0, 0, 0.5);
    background: rgb(0, 0, 0);
    bottom: 0;
    opacity: 0;
    position: absolute; 
}

.row .column:hover .overlay{
    opacity: 0.5;
}

.v3 {
    border-left: 2px solid #d3a202;
    height: 80px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: auto;
}

h4{
    text-align: center;
    font-size: 30px;
    color: #717171;
    border: #e9c03a;
    border-color: #d3a202;
 } 

.under{
    width: 80%;
    margin-left:10%;
    margin-right: 10%;
} 

footer {
    text-align: center;
    background-color: rgba(0, 0, 0,0.2);
    color: white;
  }

footer p{
    text-align: center;
}
 footer .footerimage{
    margin-top: 2%;
    width: 200px;
 } 

 ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: #f3d368; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background:#ffffae; 
}
html{
  scroll-behavior: smooth;
}
.arrow{
  position: fixed;
  background-color: #e9c03a;
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}