* {box-sizing: border-box;}
body{
    margin: 0;
    background-color: #ffffc9;
}
form.searchbutton input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0%;
    float: right;
    width: 20%;
    background: #ffffae;
    margin-top: auto;
    margin-bottom: 0%;
  }
  
  form.searchbutton button {
    float: right;
    width: 20%;
    padding: 5px;
    background: #e9c03a;
    color: black;
    font-size: 12px;
    border: 1px solid #e9c03a;
    border-left: none;
    cursor: pointer;
    margin-left:auto;
    max-width:60px;
  }
  
  form.searchbutton button:hover {
    background: #d3a202;
    
  }
  
  form.searchbutton::after {
    content: "";
    clear: both;
    display: table;
  }
  
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #f3d368; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#ffffae; 
  }
hr{
    color: #717171;
    background-color: rgba(0, 0, 0,0.2);
    height: 2px;
    border-width: 0;
}
.topnav{
    background-color: #ffffc9;
    overflow: hidden;
    display: flex;
}

.topnav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 0px 20px;
    margin-top: 3px;
    margin-left: 0%;
    text-decoration:none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: #ffffc9;
    color:#d3a202;
}

.topnav a.active {
    background-color: #ffffc9;
    color: rgb(212, 157, 6);
  }


.logo a img{
    width: 150px;
    height: 85px;
    display: flex;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  

.slideshow-container {
    max-width: 1400px;
    max-height: 1000px;
    position: relative;
    margin: auto;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.text {
    color: #ffffae;
    font-size: 80px;
    padding: 10px 7px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: left;
    margin-left: 32%;
    animation: fadeIn 3s;
    text-shadow: 0px 1px 1px black;


}

.text1 {
    color: #ffffae;
    font-size: 30px;
    padding:110px 12px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: left;
    margin-left: 36%;
    animation: fadeIn 3s;
    text-shadow: 0px 1px 1px black;

}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  gap: 6px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.four-grid-cells {
  grid-row: span 2 / auto;
  grid-column: span 2 / auto;
}

img.wide-image {
  grid-column: span 2 / auto;
}

 footer {
  text-align: center;
  background-color: rgba(0, 0, 0,0.2);
  color: white;
}

footer p{
  text-align: center;
}
footer .footerimage{
  margin-top: 2%;
  width: 200px;
} 
html{
  scroll-behavior: smooth;
}
.arrow{
  position: fixed;
  background-color: #e9c03a;
  border-radius: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
}