* {box-sizing: border-box;}
body{
    margin: 0;
    background-color: #ffffc9;
}
form.searchbutton input[type=text] {
    padding: 5px;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 0%;
    float: right;
    width: 20%;
    background: #ffffae;
    margin-top: auto;
    margin-bottom: 0%;
  }
  
  form.searchbutton button {
    float: right;
    width: 20%;
    padding: 5px;
    background: #e9c03a;
    color: black;
    font-size: 12px;
    border: 1px solid #e9c03a;
    border-left: none;
    cursor: pointer;
    margin-left:auto;
    max-width:60px;
  }
  
  form.searchbutton button:hover {
    background: #d3a202;
    
  }
  
  form.searchbutton::after {
    content: "";
    clear: both;
    display: table;
  }
  
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #f3d368; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background:#ffffae; 
  }
hr{
    color: #717171;
    background-color: rgba(0, 0, 0,0.2);
    height: 2px;
    border-width: 0;
}
.topnav{
    background-color: #ffffc9;
    overflow: hidden;
    display: flex;
}

.topnav a{
    float: left;
    color: rgb(0, 0, 0);
    text-align: right;
    padding: 0px 20px;
    margin-top: 3px;
    margin-left: 0%;
    text-decoration:none;
    font-size: 20px;
}

.topnav a:hover{
    background-color: #ffffc9;
    color:#d3a202;
}

.topnav a.active {
    background-color: #ffffc9;
    color: rgb(212, 157, 6);
  }


.logo a img{
    width: 150px;
    height: 85px;
    display: flex;
    animation: fadeIn 5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }  

.slideshow-container {
    max-width: 1400px;
    max-height: 1000px;
    position: relative;
    margin: auto;
}


.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.fade {
    animation-name: fade;
    animation-duration: 3s;
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}

.text {
    color: #ffffae;
    font-size: 80px;
    padding: 10px 7px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: left;
    margin-left: 32%;
    animation: fadeIn 3s;


}

.text1 {
    color: #ffffae;
    font-size: 30px;
    padding:110px 12px;
    position: absolute;
    bottom: 200px;
    width: 100%;
    text-align: left;
    margin-left: 36%;
    animation: fadeIn 3s;

}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery .images {
  gap: 15px;
  max-width: 85%;
  margin: 40px 0;
  columns: 5 310px;
  list-style: none;
}
.gallery .images .img {
  display: flex;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  margin-bottom: 14px;
  border-radius: 4px;
}
.gallery .images img {
  width: 100%;
  transition: transform 0.2s ease;
}

.gallery .images .img:hover img {
  transform: scale(1.1);
}

.lightbox {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  visibility: hidden;
  background: rgba(0,0,0,0.65);
}
.lightbox.show {
  visibility: visible;
}
.lightbox .wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform 0.1s ease;
}
.lightbox.show .wrapper {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.wrapper :where(header, .details) {
  display: flex;
  align-items: center;
}
.wrapper header {
  justify-content: space-between;
}
header .details i {
  font-size: 1.7rem;
}
header .details span {
  font-size: 1.2rem;
  margin-left: 10px;
}
header .buttons i {
  height: 40px;
  width: 40px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  margin-left: 10px;
  background: #6C757D;
  font-size: 1.25rem;
  line-height: 40px;
  text-align: center;
  border-radius: 4px;
  transition: 0.2s ease;
}
header .buttons i:hover {
  background: #5f666d;
}
.wrapper .preview-img {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.preview-img .img {
  max-height: 65vh;
}
.preview-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 688px) {
  .lightbox .wrapper {
    padding: 12px;
    max-width: calc(100% - 26px);
  }
  .wrapper .preview-img {
    margin-top: 15px;
  }
  .gallery .images {
    max-width: 100%;
    padding: 0 13px;
    margin-top: 20px;
  }
}footer {
    margin-top: 2%;
    text-align: center;
    background-color: rgba(0, 0, 0,0.2);
    color: white;
  }

 footer .footerimage{
    margin-top: 2%;
    width: 200px;
 } 
